{% extends '/Layout/layout.html.twig' %}

{% block body %}

<section class="carousel paddingTop20">
    <div id="preview" class="padding50">
        <div id="preview-coverflow">
            {% for film in films %}
            <a href="film/{{ film.id }}"><img src="./assets/medias/images/{{ film.image }}" alt="{{ film.titre }}" /></a>
            {% endfor %}
        </div>
    </div>
</section>

{% block javascripts %}
{{ parent() }}
<script src="./assets/js/scriptcoverflow.js"></script>
{% endblock %}

{% endblock %}