{% extends '/Layout/layout.html.twig' %}

{% block body %}
<div class="dFlex justifyContentC alignItemsC flexDirectionC height100vh">
<h1 class="fontSize40px color2 font2"> ERREUR 404 </h1>

<img class="width600 height600" src="./assets/medias/images/look.jpg">
</div>
{% endblock %}