{% extends '/Layout/layout.html.twig' %}

{% block body %}
<header class="header">
    <h1 class="color3">
        Annuaire Ciné
    </h1>
</header>
<section class="menu">
<div class="menudiv color3">
<h1>Film du realisateur : {{ realisateur.realisateur }}</h1>
<ul>
    {% for film in films %}
    <li>{{ film.titre }} - {{ film.annee }} - {{ film.realisateur }}  </li><br>
    {% endfor %}
</ul>
</section>
</div>
{% endblock %}