{% extends '/Layout/layout.html.twig' %}

{% block body %}
    <h1>Film du genre : {{ genre.genre }}</h1>
    <ul>
        {% for film in films %}
            <li>{{ film.titre }} - {{ film.annee }}</li>
        {% endfor %}
    </ul>
{% endblock %}